.root {
  display: flex;
  flex-direction: column;
}

.dishList {
  margin-top: 20px;
}

.dish:not(:last-child) {
  margin-bottom: 10px;
}

.link {
  &:not(:last-child) {
    margin-right: 30px;
  }

  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  color: white;
  text-decoration: none;
  transition: opacity 0.2s;
  display: flex;
  justify-content: flex-end;
  position: relative;

  &:hover {
    opacity: 0.8;
  }
}

.amount {
  position: absolute;
  right: 12px;
  bottom: -8px;
  font-size: 13px;
  font-weight: 900;
  color: white;
  background-color: black;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
