.root {
  display: flex;
  flex-direction: column;
}

.dishList {
  margin-top: 20px;
}

.dish:not(:last-child) {
  margin-bottom: 10px;
}

.link {
  &:not(:last-child) {
    margin-right: 30px;
  }
 
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  color: white;
  text-decoration: none;
  transition: opacity 0.2s;
  
  &:hover {
    opacity: 0.8;
  }
}