.root {
  text-align: center;
}

.tableWrapper {
  display: flex;
  justify-content: center;
}

.tdName {
  font-weight: bold;
  text-align: right;
}

.tdInfo {  
  text-align: left;
  padding-left: 20px;
}

