.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 35px;
}

.links {
  display: flex;
  font-size: 32px;
}

.link {
  &:not(:last-child) {
    margin-right: 30px;
  }

  color: white;
  text-decoration: none;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.image {
  position: relative;
}

.amount {
  position: absolute;
  right: 28px;
  bottom: 15px;
  font-size: 13px;
  font-weight: 900;
  color: black;
  background-color: white;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
